<p class="pt-5">
  <strong class="block font-medium pt-5 text-white">Description</strong>
  <div class="block shadow rounded-md border border-gold outline-none px-3 py-2 mt-2  bg-white text-black">
    <%= tournament.description %>
  </div>
</p>
