<%= form_for(resource, as: resource_name, url: session_path(resource_name), method: :post) do |f| %>
    <div class="form-group">
        <%= f.label :otp_attempt %> <br />
        <div class = "bg-red-300">
        <%= f.text_field :otp_attempt %>
        </div> 
    </div>
    <%= f.submit  "Submit" %>
<%end%>