<div class="container-fluid  px-5 flex row justify-center">
    <div id = "second" class="seconds-container text-6xl ml-2">
      <div class="seconds",  data-controller="choice"></div>
      <div class="seconds-label">s</div>
    </div>
</div>