<div class="flex px-5 mt-7">
  <div class="flex justify-center px-2 rounded-lg bg-gold">
    <span class="flex flex-col justify-center text-base sm:text-sm lg:text-4xl" id="second_timer">0</span>
  </div>
</div>
