<div class="container-fluid  px-5 flex row justify-center">
    <div id = "second_div" class="seconds-container text-6xl ml-2">
      <div class="seconds", id = "second_timer"  data-controller="choice", data-timer-id = <%= remaining_seconds %>></div>
      <div class="seconds-label">s</div>
    </div>
</div>