<% if match.match_time.after?(Time.zone.now) %>
  <div class="container-fluid mt-5 flex row justify-center" data-controller="countdown" data-countdown-time="<%= (match.match_time - Time.zone.now).to_json.html_safe %>">
    <div class="days-container">
      <div id="days" class="text-xl"></div>
      <div class="days-label">d</div>
    </div>
    <div class="hours-container ml-2">
      <div id="hours" class="text-xl"></div>
      <div class="hours-label">h</div>
    </div>
    <div class="minutes-container ml-2">
      <div id="minutes" class="text-xl"></div>
      <div class="minutes-label">m</div>
    </div>
    <div class="seconds-container ml-2">
      <div id="seconds" class="text-xl"></div>
      <div class="seconds-label">s</div>
    </div>
  </div>
<% end %>
