<% if match.match_time.before?(Time.zone.now) %>
<% else %>
  <div class="container-fluid mt-5 flex row justify-center" data-countdown-time="<%= (Time.zone.now - match.match_time).to_json.html_safe %>">
    <div class="days-container">
      <div id="days"></div>
      <div class="days-label">d</div>
    </div>
    <div id="hours" class="hours-container ml-2">
      <div class="hours"></div>
      <div class="hours-label">h</div>
    </div>
    <div id="minutes" class="minutes-container ml-2">
      <div class="minutes"></div>
      <div class="minutes-label">m</div>
    </div>
    <div id="seconds" class="seconds-container ml-2">
      <div class="seconds"></div>
      <div class="seconds-label">s</div>
    </div>
  </div>
<% end %>
