<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg"></div>
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th>Match No</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% @matches.each_with_index do |match, index| %>
          <tr>
            <td class = "px-6 py-3" ><%= index+1 %></td>
            <td><%= match.match_time.strftime("%B %d, %Y %I:%M %p")%></td>
            <td>
              <%= link_to "Show", match, class: "mb-4 px-3 py-2 btn-brown" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>




