<div class="bg-background-image min-h-screen flex flex-col items-center">
<% if notice.present? %>
<p class="py-2 px-3 bg-gold mb-5 text-black font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
<% end %>
<% i = 0 %>
<div class = "flex flex-row">
    <div class = "container-fluid mt-5 mr-7 rounded-lg py-3 px-10 bg-gold">
        You
    </div>
    <div class = "container-fluid mt-5 py-3 rounded-lg px-4 bg-gold">
        Opponent
    </div>
</div>
<% @current_user_selections.each do |current_user_selection| %>
    <% opponent_user_selection = 'question.png' %>
    <% if current_user_selection.try_num == i %>
        <% current_user_selection = current_user_selection.selection + ".png" %>
    <% end %>
    <% if !@opponent_user_selections.size.zero? %>
        <% if !@opponent_user_selections[i].nil? %>
            <% if @opponent_user_selections[i].try_num == i %>
                <% opponent_user_selection = @opponent_user_selections[i].selection + ".png" %>
            <% end %>
        <% end %>
    <% end %>

    <div class = "flex flex-row justify-center">
        <%= image_tag(current_user_selection, width: "100", class: "bg-no-repeat m-5 mt-5 p-2 rounded-lg bg-gold") %>
        <%= image_tag(opponent_user_selection, width: "100", class: "bg-no-repeat m-5 mt-5 p-2 rounded-lg bg-gold") %>
    </div>
    <% i += 1 %>
<% end %>
</div>