<div class="bg-background-image min-h-screen flex flex-wrap items-center justify-center">
  <div class="container flex-1 flex flex-col items-center justify-center px-6">
    <div class="bg-white bg-opacity-20 backdrop-blur-lg rounded drop-shadow-lg px-10 py-8  ">
      <h1 class="mb-8 text-6xl text-center text-white">Match</h1>

    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

<div class="flex flex-row justify-center">
  <div class= "text-4xl text-white mr-5">
    <%= @usermatches[0].name.capitalize%>
  </div>
  <div class= "text-4xl text-gold mr-5">
    vs
  </div>
  <div class= "text-4xl text-white">
    <%= @usermatches[1].name.capitalize%>
  </div> 
</div>
<%= render 'match_timer', match: @match %>
</div>
</div>
</div>


