<h1>Rockpaperscissor#home</h1>
<div class="rounded-[12px] border-rose-600">
    <button
        class="text-xs font-semibold rounded-full px-4 py-1 leading-normal bg-red border border-purple text-purple hover:bg-purple hover:text-white">Message</button>
</div>
<p class="text-blue-600 md:text-green-600">Find me in app/views/rockpaperscissor/home.html.erb</p>
